*{
    margin:0;
    padding:0;
    font-family: "Comic Sans MS", Georgia, times, Serif;
}
div#head{
    width:420px;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 1.2em;
}
#head h1{
    float:left;
    margin: 0 100px 0 50px;
}
#head h4{
    clear: both;
    margin-left: 50px;
}
#head div:first-child{
    margin: 10px 5px ;
}
.sco{
    position: relative;
    top: 20px;
}
.grid_container{
    margin:10px auto;
    width:500px;
    height:500px;
    border-radius:10px;
    background:#bbada0
}
.grid_cell{
    float: left;
    margin-top:20px;
    margin-left:4%;
    width:20%;
    height:100px;
    border-radius:5px;
}
.number{
    line-height: 100px;
    text-align:center;
    font-weight: bold;
    font-size: 40px;
}